[*]
end_of_line = crlf
max_line_length = 340

[*.{c,cc,cpp,h,hpp,lua}]
indent_size = 4
indent_style = space
trim_trailing_whitespace = false

[*.{xml,json}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false

[*.sh]
end_of_line = lf
